form {
  margin-block-end: 2em;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid hsl(212, 8.8%, 66.5%);
  padding: 0.2em 0.4em;
  font-family: 'Fira Sans', sans-serif;
  font-size: small;
}
th {
  background: #F8F8F8;
  font-weight: normal;
  font-size: small;
}